/* utility classes */
.relative{
    position: relative;
}
.contain-fluid{
    display: flex;

}
.absolute{
    position: absolute;
}
.error{
    color: red;
}
.success{
    color: green;
}
.none_display{
    display: none;
}

/* loại bỏ các default padding và margin khi tạo web */

*{
    margin: 0;
    padding: 0;
}
/* cho web lúc naof cũng >100vh */
body{
    min-height: 100vh; 
    background-color: F5F5F5;
    background-repeat: no-repeat;
    
    
}
#navbar {
    position: relative;
    z-index: 9999; /* Số này có thể được điều chỉnh tùy theo nhu cầu của bạn */
  }

nav{
margin-top: 0px;
position: sticky;    
width: 100%;
flex-shrink: 0;
background-color:rgba(217, 217, 217, 1);

/* box-shadow: h-shadow v-shadow blur spread color inset; 
              (horizontal)  độ dài ngang,(vertical) độ dọc, độ mờ ,độ lớn của bóng, màu,bóng trong bóng ngoài */
}
/* gọi phần tử ul trong nav */
nav ul{ 
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav l{
    height: 50px;
    padding:15px 20px;
    margin-top: 10px;
}
nav a{
    height: 100%;
    
    text-decoration:none ;
    /* text-decoration: none; ko gach chan,ko dashed */
}
/* con trỏ chuột khi trỏ vào l */
nav l{
    height: 50%;
    margin-top: 0;
    margin-bottom: 0;
}
nav l:hover{ 
    background-color: rgba(119, 112, 112, 1);
    border-radius: 15px;
   
}
/* pseudo-class selector /tìm hiểu cái này/
chọn phần tử đầu tiên l của nav
đẩy các phần tử còn lại margin về bên phải của nav
*/
nav l:first-child{
    margin-right: auto;
}
/* luôn ở vị trí khi scoll */
.sidebar{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(255, 255, 255,0.2);
    box-shadow: -10px 0 10px;
    
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
   backdrop-filter: blur(10px);

}
/* reponsive */
.menu-button{
    display: none;
}
@media (max-width: 800px) {
    .hideOnMobie{
       display: none; 

    }
    .menu-button{
        display: block;
    }
}
@media (max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

/* content */

.content{
  
    display: grid;
    width: auto;
    height:700px;
    margin: 5px 32px;
    display: flex;
}
.user-detail{ 
    position: relative;
    display: flex;
    background-color: white;
    border: 1px solid black;
    flex-direction: column;
    margin: 21px 32px;
    width: 30%;
    justify-content: center;
}
.user > img{
    width: auto;
    
}
.avatar{
    margin-bottom: 10px;
    align-self: center;
    justify-items: start;
    padding-bottom: 100px;
}
.tag{
    display: flex;
    background-color: black;
    color:white;
    gap: 10px;
    padding: 10px;   
    width: fit-content;
    margin-bottom: 10px;
    
}

.infor{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}
.namebox{
    display: flex;
}
.name,.address{
    padding: 10px 5px;
}



.Loggout{
    
    width: fit-content;
    background-color: black;
    color:white;
    padding: 10px 120px;
    bottom: 53px;
    left: 80px;
    border-radius: 25px;
    margin: 40px 70px;
}
.shoppcart{
    width: 50%;
    background-color: white;
    margin: 21px 32px;
    display: flex;
    border-radius: 25px;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
   
}
.item{
    border-radius: 25px;
    align-self: self-start;
    margin-left: 33px;
    display: flex;
    padding: 15px 15px;
    background-color: rgb(208, 208, 212);
}
.item_infor{
    display: flex;
    flex-direction: column;
    
}
.item > img{
    width: 60px;
    height: auto;
}
.item_name{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;   
}
.item_price{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}
.quantity{
    width: fit-content;
}
.buy{
    padding: 10px 10px;
    border-radius: 15px;
    background-color: rgba(233, 111, 131, 0.082);
    margin-top: 10px;
}